.poster-paper {
  padding: 3%;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 0.8REM;
}

.poster-paper .poster-date {
  margin-bottom: 4rem;
}

.poster-container-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster-container-wrapper::before {
  content: "Süddeutscher Rundfunk Stuttgart";
  display: block;
  font-size: 0.6rem;
  position: absolute;
  top: -2rem;
  right: 0;
  text-align: left;
}

.poster-container {
  width: 100%;
  aspect-ratio: 100 / 54;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.poster-container .column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.poster-container .row {
  flex-grow: 0;
  flex-shrink: 0;
}

/* Remove stacking on mobile */
@media (max-width: 768px) {
  .poster-container {
    flex-direction: row; /* Keep rows in a row direction to prevent flat lines */
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    flex-wrap: nowrap; /* Prevent wrapping to maintain layout */
  }

  .poster-container .column {
    flex: 0 0 auto; /* Prevent columns from shrinking on mobile */
  }

  .poster-container .row {
    height: auto; /* Ensure rows scale appropriately within the column */
  }
}

.dark_purple {
  background-color:#4c3856;
}
.purple {
  background-color:#6b527a;
}
.dark_pink {
  background-color:#a6579a;
}
.pink {
  background-color:#ba7baf;
}
.brown {
  background-color:#847872;
}
.grey {
  background-color:#a4a1a1;
}
.cream {
  background-color:#d7c9c4;
}
.black {
  background-color: #221e23;
}

@media (min-width: 768px) {
  .poster-paper {
    font-size: 1rem;
  }

  .poster-container-wrapper::before {
    font-size: 0.7rem;
  }
}

@media (min-width: 1024px) {
  .poster-paper {
    font-size: 1.2rem;
  }
  .poster-container-wrapper::before {
    font-size: 0.8REM;
  }
}

