includes:
  - phpstan-baseline.neon

parameters:
  level: 6
  paths:
    - src
    - tests
  reportUnmatchedIgnoredErrors: true
  fileExtensions:
    - php
    - module
    - theme
    - profile
    - install
    - inc
  stubFiles:
    - stubs/Stubs.stub
  parallel:
    jobSize: 20
    maximumNumberOfProcesses: 32
    minimumNumberOfJobsPerProcess: 4
    processTimeout: 180.0
  # Temporarily disable all non base rules.
  strictRules:
    disallowedLooseComparison: false
    booleansInConditions: false
    uselessCast: false
    requireParentConstructorCall: false
    disallowedConstructs: false
    overwriteVariablesWithLoop: false
    closureUsesThis: false
    matchingInheritedMethodNames: false
    numericOperandsInArithmeticOperators: false
    strictCalls: false
    switchConditionsMatchingType: false
    noVariableVariables: false
  ignoreErrors:
    -
      identifier: missingType.iterableValue
